.lazy-scroll {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    max-width: 60vw;
    min-width: 60vw;
    overflow-anchor: none !important;
}

#lazy-scroll-bottom {
    overflow-anchor: auto;
}

@media (orientation: portrait) {
    .lazy-scroll {
        min-width: 75vw;
    }
}
